* {
  box-sizing: border-box;
}

body {
  /* overflow-y: scroll; */
  white-space: normal;
  font-family: "Bad Script", cursive ;
  font-family: "Cabin Sketch", cursive;
  background-color: #c7e3fa;
}
.todo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.todoList {
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  /* width: 90%; */
  /* align-items: center; */
}
.todoContainer {
  /* max-width: 80%; */
  position: relative;
  min-width: 15%;
  /* max-width: 320px; */
  display: flex;
  margin: 15px;
  padding: 1.8rem;
  border: 2px solid black;
  background-color: yellow;
  border-radius: 12px;
}
.cross {
  position: absolute;
  right: 12px;
  /* padding: 0.2rem; */
  border-radius: 55%;
  font-size: 25px;
}
.cross:hover {
  background-color: #f44336;
  cursor: pointer;
  color: white;
}
#work,
#addBtn {
  padding: 0.5rem;
  display: block;
  /* width: 100%; */
  margin: 8px auto;
}
#work {
  border: 3px solid gray;
  border-radius: 23px;
  font-size: 25px;
  width: 95%;
  box-shadow: 3px 2px 4px #5a5656;
  /* white-space: initial;
  word-wrap: break-word; */
}

#addBtn {
  border-radius: 12px;
  font-weight: bold;
  cursor: pointer;
  border-color: gray;
  font-size: 18px;
}
#addBtn:active {
  font-size: 15px;
}
@media screen and (max-width: 425px) {
  #work {
    width: 300px;
  }
  #addBtn {
    width: 100%;
    font-size: 18px;
    /* display: block; */
    /* margin: 5px; */
  }
}

.notes {
  font-size: 2.5rem;
}
.noNotes {
  display: flex;
  justify-content: center;
  width: 100%;
}

.checked {
  text-decoration: line-through;
}

.noteDetails {
  /* overflow:hidden; */
  word-break: break-word;
  white-space: normal;
  font-weight: bolder;
  font-size: 23px;
  margin-left: 0.2rem;
  margin-right: 1.5rem;
}

.hide {
  display: none;
}

.updateBtn {
  position: absolute;
  bottom: 3px;
  right: 35px;
  /* margin:30px 30px; */
  border-radius: 12px;
  padding: 4px;
  cursor: pointer;
}

.textArea {
  border: 2px solid gray;
  font-size: 15px;
  border-radius: 4px;
  margin-right: 1rem ;
  box-shadow: 3px 2px 4px #5a5656;
}
